@import url('https://fonts.cdnfonts.com/css/outfit');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;

}
body {
    position: relative;
}
.app {;
    top: 0;
    background: url("../public/background.jpeg") no-repeat center right/cover;
    height: 100vh;
}

.container {
    margin: 0 auto;
}
.card {
    background-color: coral;
}


